<% include ./partials/header.ejs%>

<img src="gundam.jpg" alt="Mountain View" width="500" height="377">
<!-- <img src="gundam.jpg" style="width:100%"> -->

<div class="main">
<div class="container-fluid">
        
        <!-- <div class="row"><h1></h1></div> -->

        <div class="row">
           <div class="col-sm-4"></div> 
           
          <div class="col-sm-4" style="background-color:rgb(97, 97, 99);">
                <% if(fail.msg !== 0){ %>
                    <div class="alert alert-danger">
                            <strong><%= fail.msg %></strong>
                          </div>
                <% }%> 
                <h3>Robots Battle Arena</h3>
                <h5>Login to Start the Battle OR Die!!!!</h3>
            <form action="/" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" id="email" placeholder="Enter username" name="userName">
                  
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
                </div>
                <button type="submit" class="btn btn-default">Login</button>
                        <a href="/register">Register</a>
                        <p></p>
            </form>
              
          </div>
          <div class="col-sm-4"></div>
        </div>
</div>
      
</div>

<% include ./partials/footer.ejs%>