<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/user">User</a> | <a href="/matches">Match</a> | <a href="/robot">Robot</a>
    Add Match
    <form action="/matches/add" method="post">
       Name:<br>
       <input type='text' name='name'><br>
       Location:<br>
       <input type='text' name='location'><br>
       Date:<br>
       <input type='text' name='date'><br>
       Bet Point:<br>
       <input type='text' name='betPoint'><br>
       <input type='submit' value='Submit'>
    </form>
  </body>
</html>
