<html>
<head>
    <title>Add Robot</title>
</head>
<body>
  <a href="/user">User</a> | <a href="/matches">Match</a> | <a href="/robot">Robot</a>
    <h1 style="text-align: center">Add Robot  user id dapetin dari session</h1>

    <form action="/robot/addrobot" method="POST">
        UserId:
        <br>
        <input type="text" name="id" style="width:50%">
        <br>
        Robot Name:<br>
        <input type="text" name="name" style="width:50%">
        <br>
        <br>
        <input type="submit" value="Add Robot">
    </form>
</body>
</html>
